*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  } 
   
  .main-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Outer Container */
  .container{
    width: 80%;
    max-width: 500px;
    background-color: rgba(255,255,255,0.5);
    border: 2px solid black;
    padding:20px;
    text-align: center;
  }
  
  /* Input Box */
  .input_box{
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.5);
    font-size: 1.2em;
    padding: 10px 10px;
  }
  
  #error-message{
    color: rgb(192, 67, 67);
  }
  
  .submit-button{
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.5);
    font-size: 1.2em;
    padding: 10px 10px;
  }
  
  .submit-button:hover{
    box-shadow: 0px 0px 10px black;
    transform: translateY(5px);
  }
  
  .input_box:focus{
    outline: none;
    background-color: rgba(255,255,255,0.6);
  
  }
  
  /* Weather Body */
  .weather_details{
    width: 100%;
    background-color: rgba(255,255,255,0.3);
    padding: 20px;
    line-height: 2.4rem;
  }
  
  .temp{
    font-size: 50pt;
    margin:10px auto;
    font-weight: bolder;
    text-shadow: 2px 4px rgba(0,0,0,0.2);
  }